---
title: Wages Hiring and Metrics for all
description: Helps bring fairness to the matching process among job seekers, recruiters, staffers and employers
---
{% include analytics.html %}
<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong><a href="https://reports.symmetrics.fyi/login" target="_blank" style="color:white">Honest Analytics</a></strong> for all</h1>
		<p class="subtext editable">Employer Submitted and <strong><a href="{{ site.baseurl }}/data_policy" target="_blank" style="color:white"><u>Verified</u></a></strong> Data</p>

		<div>
			<img src="https://static.symmetrics.fyi/cms/carousel-optimized.gif" alt="Screenshot"  class="" />
		</div>
		
		<!-- <p class="subtext editable">( <a href="{{ site.baseurl }}/informational_reports" target="_blank" style="color:white"><u>Informational</u></a>, Personalized and <strong><a href="{{ site.baseurl }}/goal_based_reports" target="_blank" style="color:white"><u>Goal-based</u></a></strong> Actionable Analytics )</p> -->
		<p class="subtext editable"> Symmetrics is a unique data platform, that helps <i><u>candidates, recruiters and employers</u></i> with <strong>analytics</strong> that are honest, transparent and actionable</p>
		<div>
			<img src="https://static.symmetrics.fyi/cms/collaboration.png" alt="Screenshot"  class="" />
		</div>
		
		<div class="cta button alt">
			<a href="https://www.youtube.com/embed/videoseries?list=PLhWjCxPO7iTjf3z0Rl3Q1Ftptg2DpsWl2" target="_blank"><strong>CANDIDATE USECASES</strong></a>
			<br>
			<br>
			<br>
			<br>
			<iframe width="760" height="315" src="https://www.youtube.com/embed/videoseries?list=PLhWjCxPO7iTjf3z0Rl3Q1Ftptg2DpsWl2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="cta button alt">
			<a href="https://www.youtube.com/embed/videoseries?list=PLhWjCxPO7iTgiY2oiFYI9s5KnNt0dzykA" target="_blank"><strong>RECRUITER USECASES</strong></a>
			<br>
			<br>
			<br>
			<br>
			<iframe width="760" height="315" src="https://www.youtube.com/embed/videoseries?list=PLhWjCxPO7iTgiY2oiFYI9s5KnNt0dzykA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		
	</div>
</section>

<!--<p class="editor-link" style="text-align: center;"><a href="/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p> -->
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><a target="_blank" href="https://youtube.com/playlist?list=PLhWjCxPO7iTjf3z0Rl3Q1Ftptg2DpsWl2"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></a></div>
			<div class="name"><a target="_blank" href="https://youtube.com/playlist?list=PLhWjCxPO7iTjf3z0Rl3Q1Ftptg2DpsWl2">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Fair Wages</strong></h2>
				<p>Symmetrics analyzed <strong>wage data since 2001</strong> across <strong>300 dimensions.</strong> By providing you base wage metrics across years, states, cities, employers, job titles and other dimensions, we put you in the driver seat.  </p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2><strong>Great Resignation</strong></h2>
				<p>Symmetrics provides state-wide, city-wide, job title & employer based wage/approval KPIs, so that you can make <strong>risk mitigated decisions</strong> while optimizing on wage goals. </p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2><strong>Immigration</strong></h2>
				<p>Symmetrics provides job popularity, location popularity and employers that hire jobs and their locations. You can prepare your target list and we help you <a href="{{ site.baseurl }}/career_coaching"><strong>reach out to the list</strong> </a></p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2><strong>Tools and Technologies</strong></h2>
				<p>Symmetrics provides data on the most popular skills and helps you make career choices. Our recruiter network will guide you with courses, and help you get hired once you are equipped with the skills. </p>
				<br>
			</div>
			<div class="image">
				<a href="{{ site.baseurl }}/candidate_use_cases">
					<img src="https://static.symmetrics.fyi/cms/candidate-usecases-1.png" alt="Screenshot" class=""/>
				</a>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Vendor Network</strong></h2>
				<p>For Recruiters/Staffers, Symmetrics provides all the vendor network for an end client, thereby providing your <strong>Sales Leads</strong></p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2><strong>Benchmark Wages</strong></h2>
				<p>Symmetrics platform provides regression analysis of all bechmarked wages since 2001. This helps your clients get a headstart, <strong>plan budgets</strong> talent availability vs. cost etc.</p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2><strong>Competitor Intel</strong></h2>
				<p>Know what your competitors are paying by <strong>job title, state, city etc.</strong> Advise your clients on their competitor metrics and win more clients</p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2><strong>Immigration Support</strong></h2>
				<p>Provide immigration support to your employer and candidate clientbase. Rank Law Firms on their past success metrics. Ultimately <strong>enhances loyalty</strong> with high-skilled immigration </p>
				<br>
			</div>
			<div class="image">
				<a href="{{ site.baseurl }}/recruiter_use_cases">
					<img src="https://static.symmetrics.fyi/cms/RecruitersStaffers-usecases-1.png" alt="Screenshot" class=""/>
				</a>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>As an employer of high skilled workers, how can I <strong>subscribe</strong> to Symmetrics data?</h2>
				<p>Higly skilled employee base is a competitive advantage! By leveraging our metrics and trends, you can get ahead of your competitors. Many of our B2B clients are able to make decisions on their <strong>next office location </strong>(virtual or physical),  <strong>budget allocation</strong>, and <strong>bechmarking wages</strong></p>
			</div>
			<div class="image">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/VliP9Ep0Xrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Symmetrics platform helped many of our clients (candidates) confidently move to their next job with a fairly negotiated wage. Long term loyalty is built with the employer and job seeker</p>
					<p class="editable author">Amanda - Recruiter at a top Staffing Company</p>
				</blockquote>
			</div>
			<div class="testimonial-block">
				<div class="square-image"><img src="" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Symmetrics platform is a rare gem in the HR Tech Space. Grab your FREE account now. Helped us save thousands of dollars, and get information at speed, above all trustworthy data that helped us scale the organization </p>
					<p class="editable author">Jerry - CEO of Startup in California</p>
				</blockquote>
			</div>
		</div>
	</section>
	<section class="bottom-cta">
		<h2 class="editable"><strong>Subscribe</strong> to Symmetrics today</h2>
		<div class="button alt"><a href="https://reports.symmetrics.fyi/register/form">Get Started Free</a></div>
	</section>
</div>
