---
title: Media, News and Blog
description:
---

<!-- <div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div> -->

<h1 class="editable"><strong>Medium</strong></h1>
<ul>
	<li>
        <a href="https://medium.com/@symmetrics_hr/the-m%CC%B6o%CC%B6n%CC%B6k%CC%B6-immigrant-who-s%CC%B6o%CC%B6l%CC%B6d%CC%B6-bought-his-ferrari-e7be20c4d891" target="_blank">The M̶o̶n̶k̶ Immigrant Who S̶o̶l̶d̶ Bought His Ferrari</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/what-most-of-us-still-get-wrong-about-layoffs-51dc52d6620f" target="_blank">What Most Of Us Still Get Wrong About Layoffs</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/state-of-high-skilled-jobs-2022-final-69878ce45be7" target="_blank">State of High Skilled Jobs - 2022 FINAL</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/state-of-high-skilled-jobs-2022-q3-205ed58f672a" target="_blank">State of High Skilled Jobs - 2022 Q3</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/competitor-intel-by-traversing-client-relationships-2a5563f2e59f" target="_blank">Competitor Intel by traversing client Relationships</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/dont-gaga-over-microsoft-public-salary-ranges-7c6d32fe7532" target="_blank">Don't gaga over Microsoft public salary ranges !</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/state-of-high-skilled-jobs-2022-q2-us-west-region-6cfcac4d918d" target="_blank">State of High Skilled Jobs 2022 Q2 — US West Region</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/state-of-high-skilled-jobs-2022-q2-88906be8027" target="_blank">State of High Skilled Jobs - 2022 Q2</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/data-driven-career-coaching-34fc3622ac0d" target="_blank">Data Driven Career Coaching</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/amazon-350k-base-salary-is-probably-smoking-mirrors-f6645f39ed55" target="_blank">Amazon 350k base salary is smoke & mirrors</a>
    </li>
    <br>
	<li>
        <a href="https://medium.com/@symmetrics_hr/how-to-analyze-and-negotiate-your-salary-101-a2e2d33c0edc" target="_blank">Analyze (and hence negotiate) your salary -101</a>
    </li>
    <br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/how-to-deal-with-ghosting-as-an-employer-78aa5358ef01" target="_blank">How to deal with Ghosting — as an employer</a>
	</li>
	<br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/average-wage-can-deceive-you-9566e756d051" target="_blank">Average wage can deceive you</a>
	</li>
	<br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/to-each-his-domain-31e3a2e2dd71" target="_blank">To Each His Domain</a>
	</li>
	<br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/the-great-big-resignation-and-now-this-5aa168b17dd5" target="_blank">The Great Big Resignation and now this!</a>
	</li>
	<br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/do-you-know-your-jobs-net-worth-c812e6b5459c" target="_blank">Do you know your Job’s net worth ?</a>
	</li>
	<br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/things-the-smart-do-before-accepting-a-new-job-offer-2b263cdcd3d1" target="_blank">Things the smart do BEFORE accepting a new job offer !</a>
	</li>
</ul>

<h1 class="editable"><strong>Linkedin</strong></h1>
<ul>
	<li>
		<a href="https://www.linkedin.com/pulse/great-big-resignation-now-sparkiq-tech/" target="_blank">The Great Big Resignation and now this!</a>
	</li>
</ul>