---
title: Media, News and Blog
description:
---

<!-- <div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div> -->

<h1 class="editable"><strong>Medium</strong></h1>
<ul>
	<li>
		<a href="https://medium.com/@symmetrics_hr/the-great-big-resignation-and-now-this-5aa168b17dd5" target="_blank">The Great Big Resignation and now this!</a>
	</li>
	<br>
	<li>
		<a href="https://medium.com/@symmetrics_hr/do-you-know-your-jobs-net-worth-c812e6b5459c" target="_blank">Do you know your Job’s net worth ?</a>
	</li>
</ul>

<h1 class="editable"><strong>Linkedin</strong></h1>
<ul>
	<li>
		<a href="https://www.linkedin.com/pulse/great-big-resignation-now-sparkiq-tech/" target="_blank">The Great Big Resignation and now this!</a>
	</li>
</ul>

